@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
#navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#navbar a{
  font-size: 24px;
  text-decoration: none;
  color: black;

}
#navbar input{
  width: 70%;
  height: 30px;
  padding-left: 10px;
}

.news img {
  width: 100px;
  height: 100px;
}
.news > div {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #000; */
}
#results{
  width: 80%;

    position: absolute;
    top: 70px;
    left: 20%;
    height: 650px;
    overflow-y: scroll;
    /* border: 9px solid #000; */
}
.news {
  display: flex;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 70%;
  /* margin-left: 0% ; */
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  height: 200px;
  /* border: 1px solid #000; */

}
.news h3 ,p{
  margin-left: 10px;
}
#sidebar{
  width: 20%;
  height: 650px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: inline-block;
  /* margin-top: 60px; */
  /* padding-top: 80px; */
  overflow: hidden;
}
#sidebar li{
  list-style: none;
  padding: 10px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.164);
  text-transform: uppercase;
  width: 85%;
  margin: auto;
  margin-top: 10px;
  
}

#sidebar li:hover{
  background-color: blueviolet;
  color: white;
 
}

